@font-face {
  font-family: commonFont;
  src: url(../fonts/SegoeUIBoldItalic.ttf);
  src: url(../fonts/SegoeUI.ttf);
  src: url(../fonts/SegoeUIItalic.ttf);
}

.font39 {
  font-size: 39px;
}

.font19 {
  font-size: 19px;
}

.font23 {
  font-size: 23px;
}

.font31 {
  font-size: 31px;
}

.font15 {
  font-size: 15px;
  line-height: 28px;
}

.font13 {
  font-size: 13px;
}

.font-b {
  font-weight: bold;
}

.font-i {
  font-style: italic;
}
